<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'article.index' %}">Статьи</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'post_list' %}">Посты</a>
          </li>
          <form class="d-flex" action="{% url 'search_results' %}" method="get">
            <select class="form-control me-2" name="category">
                <option value="">All Categories</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <li class="nav-item">
          <a class="nav-link" href={% url 'register'%}>Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'login'%}>Вход</a>
        </li>
        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button  class="nav-link" type="submit">Выход</button>
        </form>
        </li>

        <li class="nav-item">
          <a>{{request.user}}</a>
        </li>

        </ul>

      </div>
    </div>
  </nav>
